.search-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .intro .bg-image {
    position: relative;
  }
  
  .intro .mask {
    padding: 20px;
  }
  