.intro .bg-image {
    position: relative;
  }
  
  .intro .mask {
    padding: 20px;
  }
  .gradient-custom-4 {

    background: #3a5c46;
    

    background: -webkit-linear-gradient(to right, rgb(149, 221, 176), rgb(129, 182, 209));
    

    background: linear-gradient(to right, rgb(123, 201, 151), rgb(148, 214, 245))
    } 