/*.gradient-custom-3 {
 
    background: #486949;
    

    background: -webkit-linear-gradient(to right, rgba(89, 134, 103, 0.5), rgba(110, 147, 165, 0.5));
    

    background: linear-gradient(to right, rgba(90, 133, 107, 0.5), rgba(86, 111, 124, 0.5))
    }*/
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #3a5c46;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(149, 221, 176), rgb(129, 182, 209));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(123, 201, 151), rgb(148, 214, 245))
    }