


<br><br><br><br>
<section class="intro">
      <div class="mask d-flex align-items-start h-100" style="background-color: rgba(255, 255, 255, 0.25); padding: 20px;">
        <div class="container h-100">
          <div class="row justify-content-center">
            <br><br><br><br><br><br><br>
            <div class="col-12 text-center">
                <div class="content">
                    <h2 class="h2activities text-black">FramStay</h2>
                    <hr class="hr-line1"> 
                </div>
            </div><br><br>
            <div class="col-12">
              <div class="card bg-dark shadow-2-strong">
                <div class="card-body">
                  <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <div *ngIf="(homes$ | async)?.length === 0" class="alert alert-warning">
                      Data not Available
                    </div>
                    <div class="row">
                      <div class="col-md-4 mb-3" *ngFor="let home of homes$ | async">
                        <div class="card h-100">
                          <div class="card-body">
                            <p class="card-text"><strong>HOME-TYPE:</strong> {{ home.homeType }}</p>
                            <p class="card-text"><strong>DESCRIPTION:</strong> {{ home.homeDescription }}</p>
                            <p class="card-text"><strong>RENT:</strong> {{ home.homeRent }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="(homes$ | async)?.length === 0">
                      <p class="text-center">No more data available</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  