<br><br>
<div class="container" >
  <h1 style="text-align: center;">Add Activity Info.</h1><br><br>
  <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
    <div class="form-group">
      <label for="imageName">Activity Name</label>
      <input type="text" id="name" class="form-control" required [(ngModel)]="activity.activityName" name="name" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        Activity Name is required.
      </div>
    </div>
    
    <div class="form-group">
      <label for="imageDescrip">Activity Description</label>
      <input type="text" id="imageDescrip" class="form-control" required [(ngModel)]="activity.activityDescription" name="imageDescrip" #description="ngModel">
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
        Activity Description is required.
      </div>
    </div>

    <div class="form-group">
      <label for="imageData">Image</label>
      <input type="file" id="file" (change)="onFileSelected($event)" name="image" ngModel #fileInput="ngModel" required>
      <div *ngIf="fileInput.invalid && (fileInput.dirty || fileInput.touched)" class="text-danger">
        <div *ngIf="fileInput.errors?.['required']">Field is empty, please choose an image.</div>
      </div>
    </div>

    <button type="submit" [disabled]="!imageForm.form.valid">Upload Activity</button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
</div>



