
<!--<app-admin></app-admin>-->


<!--<app-admin-dashboard></app-admin-dashboard>
<router-outlet></router-outlet>-->

<!--Navbar start-->

<nav class="navbar navbar-expand-lg navbar-light" *ngIf="isNavbarVisible" [ngClass]="{'fixed-top': isNavbarVisible, 'scrolled': isScrolled}">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="navbar-brand brand-logo" src="assets/video/AGRIVENTURE4.png" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: -5%;">
      <ul class="navbar-nav ml-auto" >
        <!--- <li class="nav-item">
              <a class="nav-link" href="#home" routerLink="">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#aboutus" routerLink="/aboutus">About us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#activities" routerLink="/activity">Activities</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#galleryy" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="feedback.html" routerLink="/feedbackk">Feedback</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#enquirenow" routerLink="/contactus">Contact us</a>
          </li>-->

          <li class="nav-item" >
              <a class="nav-link" href="#home" >Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#aboutus" >AboutUs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#activities" >Activities</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#galleryy" >Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/feedbackuser" >Feedback</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/packageuser" >Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookinguser" >BookNow</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/livinghomeuser">FarmStay</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="#enquirenow" >ContactUs</a>
          </li>
          
      </ul>
      
    </div>
  </div>
  <b class="nav-login">
    <a class="nav-log" routerLink="/adminlogin" style="color: #4b2d01; opacity: 0; ">.</a>
  </b>
</nav> 


<!-- <app-adminlogin></app-adminlogin> -->

<!-- <app-booking></app-booking> -->
<router-outlet></router-outlet>










<!-- <div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-30"></app-sidebar> -->

    <!--<div class="col-md-10">
      <app-header></app-header>-->

    <!-- </div>
  </div>
  <br><br><br><br>
      <div class="main-content mt-3">
        <router-outlet></router-outlet>
      </div> -->


   <!--</div>-->
  

  

<!--<nav class="nav flex-column">
  <div>
    <a class="navbar-brand" href="#"><img class="navbar-brand" src="AGRIVENTURE4.png" alt="logo" /></a>
  </div>  
  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link" routerLink="/all-admins">All Admins</a>
</nav>

<router-outlet></router-outlet>-->