.h2activities {
    font-family: Courier, monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
    color: #080107;
}

.hr-line1 {
    width: 20%;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
    border-top: 2px solid #333;
    font-weight: bold;
}

.with-background {
    
    background-size: cover;
    background-position: center;
    padding: 20px; 
    color: white; 
}

.card {
    border-radius: 30px;
    width: 80%; 
    margin: auto; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px; 
}

.card-img-top {
    padding: 15px 15px;
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 30px; 
}

.card-body {
    padding: 25px;
    text-align: center; 
}

.card-title {
    color: rgb(255, 17, 17); 
    font-weight: bold; 
}  