/*.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('D:/AngularProjectAgrotourism/projectagriventureagrotourism/src/assets/images/AGRIVENTURE4.png'); 
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease; 
  }
  
  .background-container p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 50vh;
    transform: translateY(-50%);
  }*/



  /*body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center; 
    background-size:cover;
    background-position:center;
     background:url('https://gttp.imgix.net/288331/x/0/kahariam-farms.jpg?ar=1.91:1&w=1200&fit=crop');
  }
   
  
  .window{
    width:400px;
    height:380px;
    padding:40px;
    text-align:center;
    border:1px solid rgb(0, 0, 0);
    border-radius:20px;
    
    backdrop-filter:blur(27px) brightness(170%);
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:rgb(0, 0, 0);
  }
  input[type="email"], input[type="password"]{
    border-radius:8px;
    border:1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0) !important;
    background:transparent;
  }
  form{
    width:100%;
  }
  input[type="email"]:focus, input[type="password"]:focus{
    background:#00000040;
    box-shadow:none;
  
    border:1px solid rgb(0, 0, 0);
  }
  input[type="email"]::placeholder, input[type="password"]::placeholder{
    color:rgb(0, 0, 0);
  }
  input[type="submit"]{
    width:100%;
    border-radius:8px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:14px;
  }*/




/* .blur{
    backdrop-filter: blur(30px) brightness(150%);
 
} */

 body,.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('https://gttp.imgix.net/288331/x/0/kahariam-farms.jpg?ar=1.91:1&w=1200&fit=crop');
    flex-direction: column;
    margin: 0;
    backdrop-filter: blur(20px) brightness(150%);
    position: relative;
}

.header {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5),
    2px 2px 10px rgba(211, 78, 78, 0.7),
    2px 2px 15px rgba(199, 226, 76, 0.7),
    2px 2px 18px rgba(224, 216, 92, 0.7),
    2px 2px 18px rgba(204, 226, 80, 0.7);
}

.top-left-corner {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 6px rgba(160, 110, 110, 0.5),
                 2px 2px 10px rgba(187, 187, 187, 0.7),
                 2px 2px 15px rgba(131, 94, 94, 0.7),
                 2px 2px 18px rgba(182, 182, 182, 0.7);
}

.window {
    width: 400px;
    height: 380px;
    padding: 40px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"], input[type="password"] {
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0) !important;
    background: transparent;
}

form {
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
    background: #00000040;
    box-shadow: none;
    border: 1px solid rgb(0, 0, 0);
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: rgb(0, 0, 0);
}

input[type="submit"] {
    width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color:rgb(177, 173, 173);
} 

