/*body {
   
    background-size: cover;
    background-position: center;
    color: #fff; 
  }

  .animated {
    animation: fadeInUp 0.5s ease;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    padding-top: 90px;
   width: 700px;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
  }

  .form-header {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  .btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
  }


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .star {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
  }
  .star.filled {
    color: #ffca08;
  }*/

  body {
   
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color */
  }

  .animated {
    animation: fadeInUp 0.5s ease;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .form-container {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
  }

  .form-header {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  .btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
  }

  rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .star {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
  }
  .star.filled {
    color: #ffca08;
  }