.h2activities {
    font-family: Courier, monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
    color: #080107;
  }

  .hr-line1 {
    width: 19%;
    text-align: center;
    margin: auto;
    border-top: 2px solid #333;
    font-weight: bold;
  }

  .intro .bg-image {
    position: relative;
  }
  .intro .mask {
    padding: 20px;
  }
  .card {
    /* background-color: rgba(255, 254, 254, 0.7); */
    border: none;
  }
  .card .card-body {
    padding: 15px;
  }
  .card .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  .card .card-text {
    margin-bottom: 0.75rem;
  }