.h2activities {
    font-family: Courier, monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
    color: #080107;
  }
  
  .hr-line1 {
    width: 13%;
    text-align: center;
    margin: auto;
    border-top: 2px solid #333;
    font-weight: bold;
  }
  
  .panel-primary
  {
     padding-top: 40px;
  }
  
  
  .image-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(100px, auto); 
    grid-gap: 10px;
    padding: 30px 30px; 
  }
  
  .image-item {
    overflow: hidden; 
  }
  
  .gallery-image {
    border-radius: 30px;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.3s ease; 
  }
  
  .image-item:hover .gallery-image {
    transform: scale(1.05); 
  }