<div class="banner-video position-relative" id="home">
    <video autoplay muted loop id="background-video" class="w-100 h-100">
        <source src="assets/video/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="content text-center position-absolute bottom-0 start-50 translate-middle-x">
        <h1 class="text-black" id="home" style="font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 300%; font-style: oblique; text-shadow: 3px 3px 3px #000000;">A WARM WELCOME TO OUR FARM</h1>
        <br><h4 class="text-red" style="font-variant: small-caps;">Escape. Explore. Embrace The Earth</h4>
    </div>
</div>

<!-- about us start -->
<h2 class="h2class" id="aboutus">About Us</h2>
<hr class="hr-line">
<section id="about-1">
    <div class="about-1-section wrapper">
        <div class="container cristmas">
            <div class="row align-item-center">
                <div class="col-lg-7 col-md-12 mb-lg-2 mb-5">
                    <div class="card border-0">
                        <img src="assets\video\image.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 text-sec">
                    <p class="e1">
                        <B>We’re a small happiness into your life where we make people connect to nature
                            come out of the stress. We make you feel adventurous and joyful..!!</B>
                    </p>
                    <p class="e2">
                        <b>AgroTourism</b> is a sustainable farm nestled in the heart of nature. We are committed to
                        providing unique experiences that allow visitors to reconnect with the earth and explore the
                        beauty of the countryside. AgroTourism serves as a platform for local residents'
                        opportunities for
                        employment, skill development. At our AgroTourism, we are providing unique and enriching
                        experiences for guests. From educational farm tours to hands-on agricultural activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us end -->

<!-- Activities page start -->
<h2 class="h2activities" id="activities">Activities To do</h2>
<hr class="hr-line1"> 
<div class="container py-5" >
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/Bullockcart.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        BULLOCK CART
                    </h5>
                    <p class="card-text"><b>Bullock</b> cart rides are a popular activity in our farms as we
                        are offer a
                        unique and authentic experience for visitors.These rides take place on
                        traditional bullock carts,which are pulled by a pair of oxen and visitors can enjoy that very.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/camping.jpeg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        CAMPING
                    </h5>
                    <p class="card-text"><b>Camping</b> is a form of outdoor recreation or outdoor
                        education
                        involving
                        overnight stays with a basic temporary shelter such as a tent.Camping
                        can also
                        include a
                        sheltered cabins,a permanent tent,a shelter.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/horseriding.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        HORSE RIDING
                    </h5>
                    <p class="card-text"><b>Horseback</b> riding is the art of riding a horse and
                        controlling the
                        animal's
                        movement and speed with maximum effectiveness and minimum efforts.In
                        our AgroTourism
                        we can
                        also provide this facility for our user.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/careem.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        CARROM
                    </h5>
                    <p class="card-text"><b>Carrom</b> is a popular indoor tabletop game of Indian
                        origin in which
                        players
                        flick discs,attempting to knock them to the corners of the board.The
                        game is very
                        popular in
                        our AgroTourism and it would play in groups.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/swingingbridge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        SWINGING BRIDGE
                    </h5>
                    <p class="card-text"><b>SwingBridge</b> is a movable bridge that has as its primary
                        structural
                        support a vertical locating pin and support ring,usually at or near to its
                        center of
                        gravity,about which the swing span can then pivot horizontally.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/ActivitiesImage/Agriculture.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">
                        AGRICULTURE
                    </h5>
                    <p class="card-text"><b>AgroTourism</b> combines elements of the
                        tourism & agriculture industries.It's attracts visitors to visit agricultural
                        sites to increase farm income and provides recreation, entertainment,or
                        educational experiences to visitors.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <button (click)="getAllActivities()" class="btn btn-info custom-button">View More</button>
    </div>
    
</div>
<!-- Activities page end -->

<!-- Gallery Section start -->
<h2 class="h2agallery" id="galleryy">Gallery</h2>
<hr class="hr-line5"><br>
<div class="carousel" data-bs-ride="carousel" id="carouselExampleIndicators">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="col-md-3 col-12">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/suryapakshi-nar.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/Fram.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>

        </div>

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/Home.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/6.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/GallerImages/KidsZone/KE-29.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> -->

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/flower.jpeg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/GallerImages/KidsZone/KE-2.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> -->

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/4.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>



        <!-- <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/GallerImages/Bird/titavi.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> 

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/GallerImages/Food/village.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/GallerImages/Home/IMG4.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>-->

        <div class="carousel-item ">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/Gallery/tambat.jpg" alt="one" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center mt-2">
    <button (click)="getAll()" class="btn btn-info custom-button">View More</button>
</div>

<!-- Gallery Section end--->

 
<!-- Contact Us Page start  -->
<h2 class="h2contactus" id="enquirenow">Contact us</h2>
<hr class="hr-line2">
<h3 class="h3info">Plan your next weekend getaway? Fill out the form as soon as possible.</h3>
<div class="container mt-4">
    <div class="row">
        <!-- Contact Form--> 
          <div class="col-lg-6">
            <div class="contact_data bg-white border rounded p-4">
              <form (ngSubmit)="sendMessage()" #contactForm="ngForm">
                <div class="form-group">
                  <label for="name"><b>Name</b></label>
                  <input type="text" class="form-control" id="custName" name="custName" placeholder="Your Name" required [(ngModel)]="contactUs.custName" #custName="ngModel">
                  <div *ngIf="custName.invalid && (custName.dirty || custName.touched)" class="text-danger">
                    
                      Name is required.
                    
                  </div>
                </div>
                <div class="form-group">
                  <label for="email"><b>Email</b></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address" [(ngModel)]="contactUs.email" #email="ngModel" email>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    
                      Please enter a valid email address.
                    
                  </div>
                </div>
                <div class="form-group">
                  <label for="message"><b>Message</b></label>
                  <textarea class="form-control" id="message" name="customerMessage" rows="5" placeholder="Your Message" style="height: 190px;"   required [(ngModel)]="contactUs.message" #message="ngModel"></textarea>
                  <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger">
                    
                      Message is required.
                    
                  </div>
                </div>
                <div class="container text-center" style="padding-top: 30px;">
                  <button type="submit" class="btn custom-btn" style="background-color: rgb(85, 187, 230);" [disabled]="contactForm.invalid">
                    Send Message
                  </button>
                  <div *ngIf="contactForm.invalid && contactForm.submitted" class="text-danger mt-2">
                    Please fill in all required fields before submitting.
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        <!-- Contact Information -->
        <div class="col-lg-6" style="margin-bottom: 50px;">
            <div class="contact_data2 bg-white border rounded p-4">
                <ul class="list-unstyled">
                    <li> <strong>Location:</strong>
                        <p>A/P,Bridge,near Kondivade,Takve-kh,Kondivade,Maharashtra-412106</p>
                    </li>
                    <li> <strong>Email:</strong>
                        <p>{{ emailAddress }}</p>
                    </li>
                    <li> <strong>Call:</strong>
                        <p>+91 8010790091</p>
                    </li>
                </ul>
                <div class="map">
                    <!-- <iframe src="https://maps.app.goo.gl/qyDHuyowt2d2iEUNA"
                        width="100%" height="280" style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.2879741420325!2d73.6059556!3d18.8298592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ad8295b7f6ab%3A0xc6a1bfe5fb1fe780!2sAndra%20Farm%20House!5e0!3m2!1sen!2sin!4v1717333338352!5m2!1sen!2sin" width="100%" height="256" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us Page end  -->

<!-- footer page start -->
<footer class="bg text-white" style="background-color: #4b2d01;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/video/AGRIVENTURE4.png"  class="logos"  style="width: 150px;height: 130px; margin-left: 150px;" alt="AgroVenture Logo">
                <div class="text-center">
                    <p class="h5des"><b>Agriventure</b> Agro Tourism is the right choice for outings with family,
                        friends, or colleagues - who are searching for the best place for relaxation, fun &
                        adventure.</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-danger mr-4 rounded-pill" style="height: 50px; width: 180px;">
                                <a href="https://wa.me/9405051317?text=Hello,%20Tejas%20Andhare" style="text-decoration: none; color: white; font-size: 16px;">Whatsapp Us</a>
                              </button>
                            <button type="button" class="btn btn-outline-danger rounded-pill" style="height: 50px; width: 180px; color: antiquewhite;" (click)="Booking()">
                                Book Online
                            </button>
                            
                          
                        </div>
                </div>
            </div>

            <div class="col-md-6 text-md-center" style="padding-top: 70px;"> 
                <h3 class="name">Agriventure AgroTourism</h3>
                <div class="d-flex flex-column flex-md-row justify-content-md-center align-items-md-center pl-md-5" style="padding-top: 20px;">
                    <a href="#home" class="my-2 mr-md-5 mb-md-0 custom-links">Home</a>
                    <a href="#galleryy" class="my-2 mr-md-5 mb-md-0 custom-links">Gallery</a>
                    <a href="#aboutus" class="my-2 mr-md-5 mb-md-0 custom-links">AboutUs</a>
                    <a href="#activities" class="my-2 mr-md-5 mb-md-0 custom-links">Activities</a>
                </div>
                
                <p class="icons mt-2 d-flex justify-content-center justify-content-md-center align-items-center"> 
                    <span style="font-size: large;  font-style:oblique;">Connect with us : </span>
                   
                    <!-- <a href="#" class="fa fa-facebook"></a> -->
                    <a href="https://www.instagram.com/agriventuretourism?igsh=MTdrcHpsNDcwNjV5Nw==" class="fa fa-instagram"></a>
                    <a href="https://wa.me/9405051317?text=Hello,%20Tejas%20Andhare" class="fa fa-whatsapp"></a>
                </p>
            </div> 
        </div> 
    </div>
</footer>

<nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #e3f2fd;height: 50px;">
    <p class="navbar-text">{{emailAddress1}}</p>
</nav>

<!-- fotter Page  end  -->