.gradient-custom-4 {
    /* fallback for old browsers */
    background: #3a5c46;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(149, 221, 176), rgb(129, 182, 209));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(123, 201, 151), rgb(148, 214, 245))
    }